<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <title class="title">web4fun</title>
        <title>web4fun</title>
    </head>

    <budy>
        <p>
            <img src="img/IMG-20191105-WA0001.jpg" width="500" height="368" alt="saul">
        </p>
        <h1 class="title">web4fun</h1>
        <p>
            Если верить <b>Redanian Intelligence</b>, создатели сериала собирались закончить основные съёмки второго сезона к февралю 2021-го. Изменились ли их планы — пока неизвестно.
        </p>
        <h2>2web4fun</h2>
        <p>
            <a href="F:\repos\Django\DeepSea\blog\templates\blog\link.html">link1 </a>
        </p>
        <ul>
            <li>
                The Pathless предлагает большую свободу действий, не только подбрасывая сюрпризы в виде новых загадок, но и делая увлекательным путь от одной точки к другой.
            </li>
            <li>
                Красивое и уютное приключение на пару вечеров – прекрасная возможность отвлечься от тонны осенних блокбастеров.
            </li>
            <li>
                <a href="F:\repos\Django\DeepSea\blog\templates\blog\link.html">link2 </a>
            </li>
        </ul>
    </budy>
</html>
